@page
@model Lymer.Web.App.Pages.Index

@{
    Layout = "_Layout";
}

<h1>Welcome to my personal website</h1>

<p>
    Experienced in the many roles of software development, I have been a manager, team lead, developer, site-reliability engineer, database designer, and tester.
</p>

<p>
    My passion is building robust software that scales to the need.  I favor pragmatism and automation in the solutions I develop. 
</p>

<p>
    I love working with clients to materialize their vision. 
</p>

<p>
    Best regards,<br />
    Matthew
</p>