<h1>Welcome to my personal website</h1>

<p>
    I am a full stack web developer that has worked on a plethora of web applications, large, medium, and
    small, using a wide array of back-end, front-end, and database technologies as a team leader, a team
    member, and working independently. I have experience with the many phases of application
    development, from planning to programming, maintenance and support.
</p>

<p>
    Kindest regards,<br/>
    Matthew
</p>

