<ul class="tweets">
    <li>
        No tweets
    </li>
    @*<li>
        <p class="tweet">
            If you missed it, we released another plugin.  
            A plugin for showing off your latest Dribbble shot 
            <a href="http://t.co/6RCtt2As">http://t.co/6RCtt2As</a>
        </p>
        <div class="posted">3 days ago</div>
    </li>
    <li>
        <p class="tweet">
            <a href="https://twitter.com/moutheme">@@moutheme</a> 
            we released another theme 
            <a href="http://t.co/6RCtt2As">http://t.co/6RCtt2As</a>
        </p>
        <div class="posted">4 days ago</div>
    </li>
    <li>
        <p class="tweet">
            If you missed it, we released another plugin.
            A plugin for showing off your latest Dribbble shot 
            <a href="http://t.co/6RCtt2As">http://t.co/6RCtt2As</a>
        </p>
        <div class="posted">1 year ago</div>
    </li>*@
</ul>