<ul class="articles">
    <li>
        No posts
    </li>
    @*<li>
        <a class="title">Standard Post with The Whole Kaboodle</a>
        <p class="preview">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's...
        </p>
        <div class="posted">3 days ago</div>
    </li>
                            
    <li>
        <a class="title">Standard Post with The Whole Kaboodle</a>
        <p class="preview">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's...
        </p>
        <div class="posted">3 days ago</div>
    </li>
                            
    <li>
        <a class="title">Standard Post with The Whole Kaboodle</a>
        <p class="preview">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's...
        </p>
        <div class="posted">3 days ago</div>
    </li>*@
</ul>